body {
background: #e4e4e4 url(../images/background2.jpg) repeat;
}
.container {
max-width: 600px;
}
.pkg-name {
margin-left: 6px;
font-weight: bold;
}
a:hover {
text-decoration:none;
}
.octicon {
font-weight: bold;
width: 1.5em;
}

